body{
    margin: 0;
    font-family: 'Prompt', sans-serif;
    background-image: url(Assets/879.jpg);
}
.header-container{
    background-color: #7e1717;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Prompt', sans-serif;
}
#logo{
    margin-left: 20px;
    margin-top: 10px;
}
.menu{
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    gap: 50px;
}
a{
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
}
a:hover{
    color: #181616;
}
.deliverybtn{
    margin-right: 100px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    border: none;
    background:  #df4732;
    border-radius: 20px;
    width: 120px;
    height: 50px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 1px 1px 1px black;
    opacity: 1;
    transition: 0.3s;
  }
  .deliverybtn:hover {background-color: #5d9b58;}

  .deliverybtn:active {
    background-color: darkgreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.title{
    background-color: #7E1717;
    width: 365px;
    padding: 20px;
    font-weight: 500;
    color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 3px 3px 3px #242c30;
    text-shadow: 1px 1px 1px #707c83;
    font-family: 'Prompt', Sans-serif;
  }
  .card{
    font-family: 'Prompt', Sans-serif;
    margin-top: 300px;
    background-color: white;
    width: 400px;
    font-weight: normal;
    height: 680px;
    border-radius: 20px;
    margin-left: 550px;
    margin-bottom: 500px;
    box-shadow: 3px 3px 3px white;
  }
  .forms{
    padding-left: 35px;
    margin-right:25px;
  }
  #user{
    border-radius: 10px;
    height:35px;
    border: 2px solid lightgray;
    width:320px;
  }
  #password{
    border-radius: 10px;
    height:35px;
    border: 2px solid lightgray;
    width:320px;
  }
  #Submit{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    border: none;
    background:  #7E1717;
    border-radius: 10px;
    width:170px;
    height: 60px;
    box-shadow: 3px 3px 3px gray;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
    text-shadow: 1px 1px 1px black;
    opacity: 1;
    transition: 0.3s;
  }
  #Submit:hover {background-color: #1f1f1f;}
  
  #Submit:active {
    background-color: #707c83;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  footer{
    margin: 0;
}
.Copyright{
    text-align: center;
    padding: 20px;
    background-color: #7e1717;
    color: white;
}