{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Monkey Pizzaria</title>
</head>

<body>
    <main>
        <header class="header-container">
            <a href="index.html">
                <img id="logo" src="Assets/Design_sem_nome-removebg-preview.png" height="150px" width="150px"
                    alt="logo" />
            </a>

            <div class="menu">
                <a href="index.html">HOME</a>
                <a href="#">RESERVA</a>
                <a href="#">DELIVERY</a>
                <a href="#">CARDÁPIO</a>
                <a href="login.html">LOGIN</a>
            </div>
            <button class="deliverybtn">Pedir Online</button>
        </header>
        <section class="background-pizza">
            <img id="MonkeyPizza" src="Assets/Design_sem_nome-removebg-preview.png" alt="logo" />
        </section>
        <section class="background-promo">
            <div>
                <button class="deliverybtn" id="PedirBtn"> Peça Online </button>
            </div>
        </section>
        <section class="About">
            <div>
                <img id="pizza1" src="Assets/pizza.webp" width="760px" />
            </div>
            <div class="horarios">
                <h1>SOBRE</h1>
                <h3>Nossa Pizzaria</h3>
                <hr width="550px">
                <h3>Horários</h3>
                <hr width="70px">
                <h2>Dias de Semana 17:00 até 23:00 </h2>
                <br>
                <h2>Sábado 12:00 até 02:00 </h2>
                <h2>Domingo 12:00 até 00:00 </h2>
                <h2>Feriados 12:00 até 22:00</h2>

            </div>
        </section>
        <section class="About">
            <div class="horarios">
                <h1>NOSSA LOCALIZAÇÃO</h1>
                <hr width="500px">
                <h3>Monkey Pizzaria</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.5290499076336!2d-48.49145868524586!3d-1.4566149989376889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48f8178c3561f%3A0xc2e15d6c03af3914!2sPizza%20do%20Macaco!5e0!3m2!1spt-BR!2sbr!4v1685485002563!5m2!1spt-BR!2sbr"
                    width="700" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <img id="pizza2" src="Assets/pizzaria.jpg" width="760px" />
            </div>
        </section>
        <section>
            <div>
                <img id="call" href="Assets/1.png" width="100" />
            </div>
        </section>
        <section class="background-call">
            <img id="MonkeyCall" src="Assets/Design_sem_nome-removebg-preview.png" alt="logo" />
        </section>
    </main>
    <footer>
        <div class="Copyright">
            <h4>© Copyright 2023 - Todos os direitos reservados a Monkey Pizzaria</h4>
        </div>
    </footer>
</body>

</html>